body, html {
    overflow-x: hidden;
} 
#topColumn{
    width: 100%;
    height: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(226, 226, 226);
    padding-bottom: 6px;
    text-align: right;
}
.topdiv{
    font-size:small;
    text-decoration: underline;
    font-weight: bold;
    display: inline;
    margin-right: 20px;
}
.topdiv1{
    font-size:small;
    font-weight:lighter;
    display: inline;
    margin-right: 20px;
}
.SearchBar{
    margin-left: 18%;
    height: 50px;
}
.div2{
    vertical-align: middle;
    height:50px ;
    display: inline-block;
}
#search{
    width:530px;
    height:30px;
    font-size:17px;
    border-right: 0px;
    border-top: 1px solid rgb(161, 161, 161);
    border-left:1px solid rgb(161, 161, 161) ;
    border-bottom: 1px solid rgb(161, 161, 161);
    font-weight: lighter;
    vertical-align: middle;
}
#intodic{
    width: 100px;
    height:36px;
    border-top: 1px solid rgb(161, 161, 161);
    border-right:1px solid rgb(161, 161, 161) ;
    border-bottom: 1px solid rgb(161, 161, 161);
    border-left: 0px;
    color:#fff;
    font-size: 16px;
    background-color:rgb(51, 136, 255);
    vertical-align: middle;
    display: inline-block;
}
#globalsearch{
    width: 100px;
    height: 36px;
    font-size: 16px;
    color: rgb(46,130,255);
    border:1px solid rgb(46,130,255);
    background-color: #fff;
    vertical-align: middle;
    display: inline-block;
}
.div3{
    margin-left: 30px;
    vertical-align: bottom;
    display: inline-block;
}
.menu{
    width: 100%;
    background-color: rgb(69,157,245);
}
.div4{
    color: #fff;
    line-height: 49px;
    height: 49px;
    text-align: center;
    display: inline-block;
}
.miaodongbaike{
    width: 100%;
    height: 320px;
    position: relative;
    text-align: center;
    background-color: rgb(10,49,138);
}
#menutable{
    width: 100%;
    height: 240px;
    text-align:left;
    background-color: rgba(35,95,157,0.7);
    padding-left: 195px;
    visibility: hidden;
    position: absolute;
    top: 0px;
}
.div5{
    text-align: center;
    border-left: 1px solid rgba(58,111,162,0.7);
    height: 240px;
    display: inline-block;
    vertical-align: text-top;
}
.div5 span{
    opacity:"1.0";
    filter:"alpha(opacity=100%)";
    color: rgb(162,201,240);
    position: relative;
}
#Content{
    height: 300px;
    width: 200px;
    background-color: aqua;
}
#videodiv{
    display: inline-block;
     padding-top: 30px;
     height: 320px;
     margin-left: 30px;
}
#videodiv1{
    text-align: initial;
    vertical-align: top;
    display: inline-block;
    margin-top: 30px;
    width: 240px;
    height: 230px;
    background-color: 	#06122F;
    padding-top: 10px;
    padding-left: 10px;
}
.sv1{
    color:rgb(222,222,222);
    font-size: 12px;
}
.vd1{
    height: 60px;
    padding-top: 10px;
}
.vd2{
    line-height: 25px;
    vertical-align: top;
    display: inline-block;
    color: rgb(222,222,222);
    font-size: 13px;
}
#img2{
    height: 230px;
    vertical-align: top;
    display: inline-block;
}
.smallimg{
    display: inline-block;
    vertical-align:text-top;
    padding-left: 70px;
}
#Content0{
    width: 100%;
    background-color: rgb(245, 245, 245);
}
#Content0-1{
    padding-left: 30px;
    padding-top: 30px;
    position: relative;
    width: 72%;
    height: 500px;
    margin-left: 14%;
    background-color: #fff;
}
#Content0-1-1{
    width: 70%;
float: left;
}
#Content0-1-2{
    position: relative;
    top:-90px;
    display: inline-block;
    width: 30%;
}
#Content0-2{
    padding-left: 30px;
    padding-top: 30px;
    position: relative;
    width: 72%;
    height: 370px;
    margin-left: 14%;
    background-color: #fff;
}
#zhuyaozuoping{
    position:absolute;
    bottom: 10px;
    width: 400px;
    height: 200px;
}
.weblabel{
    text-align: center;
    background-color: #fff;
    width: 110px;
    height: 40px;
}
.row{
    width: 80%;
    height: 30px;
    font-size: 14px;
    border-bottom: 1px dashed #ccc;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.font1{
    float: left;
    height: 30px;
    color:rgb(153,153,179);
    font-weight: bold;
}
#ceb1{
    width: 20%;
    position: absolute;
    right: 0px;
    top:0px;
}